.DS_Store
dientitosApp/dientitosApp.xcworkspace/xcuserdata/itzel_gomez.xcuserdatad/UserInterfaceState.xcuserstate
dientitosApp/dientitosApp.xcworkspace/xcuserdata/itzel_gomez.xcuserdatad/UserInterfaceState.xcuserstate
